# This workflow creates an Odin environment and runs all tests for all exercises.

name: odin/Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Download Clang
        run: wget https://apt.llvm.org/llvm.sh

      - name: Set install script permissions
        run: chmod u+x llvm.sh

      - name: Install Clang 18
        run: sudo ./llvm.sh 18

      - name: Setup default version
        run: sudo ln -f /usr/bin/clang-18 /usr/bin/clang

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Odin
        uses: laytan/setup-odin@1e0d12e3bffd1aa07e586a3d9effb2d991a19d36
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          llvm-version: 18
          release: dev-2025-10

      - name: Verify all exercises
        run: bin/verify-exercises
