# This workflow creates an Odin environment and runs all tests for all exercises.

name: odin/Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Download Clang
        run: wget https://apt.llvm.org/llvm.sh

      - name: Set install script permissions
        run: chmod u+x llvm.sh

      - name: Install Clang 18
        run: sudo ./llvm.sh 18

      - name: Setup default version
        run: sudo ln -f /usr/bin/clang-18 /usr/bin/clang

      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Setup Odin
        uses: laytan/setup-odin@10553e19b49681f7e95f9561e13b04975db29552
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          llvm-version: 18
          release: dev-2024-09

      - name: Verify all exercises
        run: bin/verify-exercises
